#b-about-me {
  background: url('../../images/banner/about-me.jpg') no-repeat center;
  background-size: cover;
  height: 393px;
  overflow: hidden;
}

#b-contact {
  background: url('../../images/banner/contact.jpg') no-repeat center;
  background-size: cover;
  height: 393px;
  overflow: hidden;
}

#b-desing {
  background: url('../../images/banner/design.jpg') no-repeat center;
  background-size: cover;
  height: 393px;
  overflow: hidden;
}

#b-web {
  background: url('../../images/banner/web.jpg') no-repeat center;
  background-size: cover;
  height: 393px;
  overflow: hidden;
}
