.findings {
  background-image: url('../../images/backgroup/blue-xl.svg');
  background-size: cover;
  width: 100%;
}

.js-content-hidden {
  display: none;
}

.slide__dot {

  button {
    float: left;
    margin-right: $value;
    border-style: none;
    padding: 6px;
    background-color: $white;
    border-radius: $xxl5;

    &:hover {
      background-color: $blue-main;
    }
  }

  margin-left: $xxl5;
  padding-bottom: $s;
}

.slider__dot--active {
  background-color: $blue-main;
}


.work {
  width: $xxl10;
  height: 350px;
}
