#contact-me {
  padding-left: 32%;
}

.form-butoon {
  display: block;
  border-radius: $size;
  margin-bottom: 10px;
  padding: 10px 16px;
  outline: none;
  width: 100%;
}

.width {
  margin-bottom: $xl;
}

.button {
    background-color: $white;
    border: none;
    border-radius: $size;
    color: $blue-main;
    padding: 8px 30px;
    &:hover {
      background-color: $blue-secondary;
    }

    cursor: pointer;
    justify-content: center;
    margin-left: 80%;
    outline: none;
    text-transform: capitalize;
}

