#image-welcome {
  background-image:
    url('../../images/banner/home-karen-Mendez.jpg');
  &:hover {
    background-image: url('../../images/banner/home-karen-Mendez-color.jpg');
  }

  height: 400px;
  margin-left: $s;
  width: 380px;
}

#link {
  img {
    width: 100px;
  }
  margin-left: $xxl5;
}

#photo-about-me-home {

  background-image:
    url('../../images/banner/home-karen.jpg');
  &:hover {
    background-image: url('../../images/banner/home-karen-color.jpg');
  }

  height: 297px;
  margin-left: $m;
  width: 307px;
}
