#image-welcome {
  height: 379px;
  width: 380px;

  background-image:
    url('/images/banner/karen-mendez-home.png');
  border-radius: 50%;
  &:hover {
    background-image: url('/images/banner/karen-mendez-home-color.png');
    border-radius: 50%;
  }
}

#more-about-me {
  margin-top: $m;
  #link {
    margin-left: $xl;
  }
}

.paragraph{
  font-size: $parra-large;
  font-style: italic;
  margin-left: $m;
  width: $xxl6;
}

#photo-about-me-home {

  background-image:
    url('/images/banner/more-about-me-home.png');
  border-radius: 50%;
  &:hover {
    background-image: url('/images/banner/more-about-me-home-color.png');
    border-radius: 50%;
  }

  height: 297px;
  margin-left: $m;
  width: 307px;

}

#link {
  margin-left: $xxl6;
}
