
.arrow {
  height: 40px;
  width: 40px;
}

.blue {
  background-image: url('../../images/elements/blue-small.svg');
  background-size: cover;
}

.blue-line {
  height: $xs;
}

.item {
  height: 100px;
  width: 100px;
}

.name {
  font-weight: bold;
  text-transform: uppercase;
}
