.item {
  height: 100px;
  width: 100px;
}

.arrow {
  height: 40px;
  width: 40px;
}

.name {
  text-transform: uppercase;
  font-weight: bold;
}

#blue-line {
  height: 50px;
}

.blue {
  background-image: url('/images/elements/blue-small.svg');
  background-size: cover;
  width: 100%;
}
