//Navegations

.active-nav {
  border-bottom: 2px solid $white;
}

.items-nav  {
  margin-top: $size;
  padding-left: $l;
  width: $xxl5;
}

.logo {
  img {
    width: $xxl6;
  }
  margin-left: $s;
}

.nav {
  background-color: transparentize($color: $blue-main, $amount: 0.3);
  padding-top: $xs;
  position: fixed;
  width: $xxl10;
  }


.style-link {
  a {
    color: $white;
    font-family: $fontMain;
    font-weight: 500;
    font-size: $parra;
    margin-right: $size;
    padding-bottom: 5px;
    text-decoration: none;
    &:hover{
      color: $blue-secondary;
      border-bottom: 2px solid;
      transition: border-bottom-color .6s ease-in-out;
    }
  }
}
