//Navegations
#nav {
padding-top: $xs;
background-color: transparentize($color: $blue-main, $amount: 0.3);
position: fixed;
width: $xxl10;
}

.logo {
  margin-left: $m;
  img {
    width: $xxl6;
  }
}

.items-nav  {
  margin-top: $xs;
  padding-left: $xxl;
  width: $xxl5;
}

