//Navegations
#nav {
padding-top: $s;
background-color: transparentize($color: $blue-main, $amount: 0.4);
/*position: fixed;*/
}

.logo {
  display: inline-block;
  width: 40%;

  img {
    width: 30%;
  }
}

.items-nav  {
  float: right;
  margin-top: $s;
}

