.circulo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: transparentize($color: $purple, $amount: 0.2);
}

.content-github {
    height: $l;
    width: $xxl8;
}

.img-github {
    width: 65px;
    width: 65px;
}

.listContent {
    a {
        border-bottom: 2px solid $blue-main;
        color: $blue-main;
        font-family: $fontMain;
        font-weight: 500;
        text-decoration: none;
        &:hover {
            color: $white;
            border-bottom: 2px solid;
            transition: border-bottom-color .6s ease-in-out;
        }
    }
    color: $blue-main;
    margin-left: $xs;
    text-align: center;
}

.social {
    width: 50px;
    height: 130px;
}

.social-item:hover {
    border-radius: $xxl10;
    box-shadow: 3px 2px $blue-secondary;
}