.social {
  width: $l;
  height: $xxl6;
}

#github {
  padding-top: $xxl;
  width: 100%;
}

#img-github {
  width: $l;
  width: $l;
}

#content-github {
  border-radius: 0.5%;
  height: 300px;
  width: 700px;
}
