.social {
  width: 50px;
  height: 130px;
}

#github {
  padding-top: $l;
  width: 100%;
}

#img-github {
  width: 65px;
  width: 65px;
}

#content-github {
  border-radius: 0.5%;
  height: 300px;
  width: 700px;
}
