// Setting Fonts

@font-face {
  font-family:'cocogoose';
  src: local('cocogoose'),
      url(/font/cocogoose.ttf) format('cocogoose');
}

$fontMain: 'cocogoose';
$global-font: 'Arial';

.paragraph{
  font-size: $parra-large;
  font-style: italic;
  margin-left: $l;
  width: $xxl6;
}

.quote {
  color: $blue-main;
  font-weight: 600;
}

.title-italic {
  font-style: italic;
  font-weight: normal;
  margin: 0;
}

.title {
  font-family: $fontMain;
  margin: 0;
}
