.banner {
  width: $xxl10;
}

.center {
  margin: 0 auto;
  width: $xxl8;
}

.p-left-xxl {
  padding-left: $xxl;
}

.m-left-xs {
  margin-left: $xs;
}

.m-left-s {
  margin-left: $s;
}

.m-left-m {
  margin-left: $m;
}

.m-left-xl {
  margin-left: $xl;
}

.top-m {
  padding-top: $m;
}

.top-s {
  padding-top: $s;
}

.top-xs {
  padding-top: $xs;
}

.bottom-s {
  margin-bottom: $s;
}
