//Setting Colors

$blue-main: #081329;
$blue-secondary: #20C9AC;
$purple: #8368CF;
$white: #FFFFFF;




// Fonts variables
$size: 1rem;

$title-h1: $size * 2.3;
$title-h2: $size * 2.1;
$parra-large: $size * 1.5;
$parra: $size;



// size-margin

$value: 1%;

$xs: $value *2;
$s: $value * 5;
$m: $value * 10;
$l: $value * 16;
$xl: $value * 22;
$xxl: $value * 30;
$xxl4: $value * 40;
$xxl5: $value * 50;
$xxl6: $value * 65;
$xxl10: $value * 100;
