//Setting Colors

$blue-main: #081329;
$blue-secondary: #20C9AC;
$purple: #8368CF;
$white: #FFFFFF;




// Fonts variables
$size: 1rem;

$title-h1: $size * 3;
$title-h2: $size * 2;
$parra: $size;



// size-margin

$value: 10px;

$s: $value * 2;
$m: $value * 4;
$l: $value * 6;
$xl: $value * 8;
$xxl: $value * 10;
